.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.react-chatbot-kit-chat-container {
  width: 100% !important;
  border-radius: 25px !important;
}

.react-chatbot-kit-chat-message-container {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100% ) !important;

}

.react-chatbot-kit-chat-btn-send {
  background-color:rgb(4,52,105) !important;
}

.react-chatbot-kit-chat-inner-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: bold !important;
}

.react-chatbot-kit-chat-bot-message {
  background-color: rgb(4,52,105) ;
  margin-left: 5px !important;
  width: fit-content !important;
  font-size: 18px !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.react-chatbot-kit-user-chat-message {
    font-size: 18px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.react-chatbot-kit-chat-input {
    font-size: 18px !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.react-chatbot-kit-chat-input-form {
    height: 10% !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .app-chatbot-container {
  width: 10%;
} */


.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
