/* .app-chatbot-button {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  padding: 10px;
  color: #fff;
  background-color: #0d2d44;
  background-image: url("../public/assets/images/bot2.jpg");
  background-size: cover;
  border: none;
  position: fixed;
  bottom: 25px;
  z-index: 9999;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-chatbot-container {
  margin: 100px 0; 
  display: flex;
  justify-content: center;
  position: fixed;
  width: 50%;
  height:auto;
  left: 40px;
  bottom: 55px;
  z-index: 9999;
  box-shadow: 5px 5px 13px rgba(91, 81, 81, 0.4);
  border-radius: 5px;
} */
 
  /* .react-chatbot-kit-chat-container {
    width: 100%;
    border-radius: 25px;
  } */

  .react-chatbot-kit-chat-message-container {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);

  }

  .react-chatbot-kit-chat-btn-send {
    background-color:rgb(4,52,105) !important;
  }

  .react-chatbot-kit-chat-inner-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }

  .react-chatbot-kit-chat-bot-message {
    background-color: rgb(4,52,105) !important;
    margin-left: 5px;
    width: fit-content;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-user-chat-message {
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-chat-input {
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-chat-input-form {
      height: 10%;
  }


  