/* .app-chatbot-container {
    width: 70%;
    height: 70%;
  } */

  .app-chatbot-container {
    width: 50%;
  }
 
 .react-chatbot-kit-chat-container {
      width: 100%;
    } 



  .react-chatbot-kit-chat-bot-message {
    margin-left: 5px;
    width: fit-content;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-user-chat-message {
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-chat-input {
      font-size: 18px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .react-chatbot-kit-chat-input-form {
      height: 10%;
  }


  